
#button-table {
  width:800px;
}
#pic-1 {
  width: 300px;
  float: left;
}
#container {
  width: 800px
}
.center {
  margin-left: auto;
  margin-right: auto;
}
#aboutme-h1 {
  color:green;
}
#pic-container {
  width: 100;
  float: left;
  margin: 10px;
}
body {
  background-color: #f6cf86;
}
#pic-one {
  float: left;    
 margin: 0 0 0 20px;
}
